body{
  background: radial-gradient(circle at center, #fff, #fff 50%, #aaa);  /*background: radial-gradient(shape size at position, start-color, ..., last-color) */
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
